name: scs-101 order-branch ci

on:
  push:
    paths:
      - 'scs-101/scs-101-order-branch/**'
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Set up JDK 17
        uses: actions/setup-java@v1
        with:
          java-version: 17

      - name: Docker Build and Push
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          cp scs-101/Dockerfile scs-101/scs-101-order-branch/Dockerfile
          cd scs-101/scs-101-order-branch
          echo $GITHUB_TOKEN | docker login ghcr.io -u USERNAME --password-stdin
          docker build --build-arg GITHUB_TOKEN=$GITHUB_TOKEN -t ghcr.io/ehsaniara/scs-kafka-intro:scs-101-order-branch .
          docker push ghcr.io/ehsaniara/scs-kafka-intro:scs-101-order-branch
